*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: rgba(10, 38, 71);
    --layers-1: rgba(0, 50, 170, 0.4);
    --layers-2: rgba(0, 46, 170, 0.3);
    --layers-3: rgba(0, 50, 170, 0.2);
    --layers-4: rgba(0, 50, 170, 0.1);
    --layers-5: rgba(0, 46, 170, 0.05);
    --primary-color: rgba(28, 97, 199, 0.7);
    --secondary-color: rgba(0, 46, 170, 0.3);
    --clock-bg-color: rgba(131, 154, 168, .4);
    --label-bg-color: rgba(25, 52, 152);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: var(--main-color);
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    background: linear-gradient(135deg, var(--primary-color) 60%, var(--secondary-color));
    border-radius: 12px;
    box-shadow: var(--layers-1) -5px 5px, var(--layers-2) -10px 10px, var(--layers-3) -15px 15px, var(--layers-4) -20px 20px, var(--layers-5) -25px 25px;
    color: #fff;
    font-family: sans-serif;
    height: 70vh;
    margin-top: 90px;
    width: 600px;  
}

h2 {
    font-size: 14px;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;    
}

.clock {
    display: flex;
}

.clock div {
    margin: 5px;  
}

.clock span {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clock-bg-color);
    border-radius: 4px 4px 0 0;
    font-size: 50px;
    height: 80px;
    opacity: .8;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
    width: 100px; 
}

.clock .text {
    background: var(--label-bg-color);
    border-radius: 0 0 4px 4px;
    font-size: 10px;
    font-weight: bold;
    height: 30px;
    letter-spacing: 2px;
    text-transform: uppercase; 
}

.clock #ampm {
    font-size: 20px;
    height: 30px;
    width: 60px;   
}
